[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "waterYearType"]
	path = waterYearType
	url = https://github.com/cran/waterYearType
